/*        universal         */
/*--------------------------*/

html {
  font-family: Avenir, sans-serif;
}

body {
  margin: 0;
  background-color: #E8DDB5;
}

img {
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #3D5556;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.active {
  background-color: #312E42;
}

* {box-sizing:border-box}

.footer {
  display: flex;
  background-color: #3D5556;
  color: #f2f2f2;
  justify-content: center;
}

/*--------------------------*/
/*        index.html        */
/*--------------------------*/

.welcome-logo {
  color: #3D5556;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}

.welcome-logo h1 {
  margin: 0;
  font-size: 50px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto 0 auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slides-active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mid-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
}

.booking-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #92B6B1;
  margin-left: 40px;
  border-radius: 10px;
}

.booking-links a {
  color: #0C8AE7;
}

.booking-links h2 {
  margin: 10px;
}

#mid-image {
  max-width: 800px;
  height: auto;
  margin: 0 50px;
  flex: 2;
}

.bottom-pano {
  margin: 0;
}

#pano-img {
  margin: 0;
  padding: 0;
}

/*--------------------------*/
/*     activities.html      */
/*--------------------------*/

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  max-width: 600px;
}

.activity-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background-color: #92B6B1;
}

.activity-container div {
  margin: 0 20px;
  max-width: 400px;
}

.boating, .surfing {
  justify-self: right;
  margin-right: 200px;
}

.diving, .hiking {
  justify-self: left;
  margin-left: 200px;
}

#boat-image, #diving-image, #surfing-image, #hiking-image {
  max-width: 400px;
}

/*--------------------------*/
